[Unit]
Description=Script that syncs epics folder from the EEE server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/bash -c "findmnt -t nfs4 | grep -q /opt/epics || rsync -v --recursive --links --perms --times --timeout 120 rsync://{{eee_rsync_epics_src}} /opt/epics --chmod=Dugo=rwx,Fuog=rwx"
User=ess

[Install]
WantedBy=multi-user.target
